@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

@*<h1>@ViewData["Title"]</h1>

<div class="row">*@
    @*<div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Role"></label>
                    <select asp-for="Input.Role" class="form-control" asp-items="@Model.Roles"></select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.RegistrationId"></label>
                    <input asp-for="Input.RegistrationId" class="form-control"/>
                    <span asp-validation-for="Input.RegistrationId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>*@
@*</div>*@

    <link rel='shortcut icon' href='~/images/favicon.png' />
    <title>Teacher Registration</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='~/css/bootstrap.css'>
    <header>

        <nav class='navbar navbar-expand-lg navbar-light bg-light'>

            <center><a class='center' href='#'><img style='pad' class='center' src='~/images/thriveLogo250x100.png'></a></center>
            <div class='collapse navbar-collapse' id='navbarColor03'>


            </div>

        </nav>

    </header>
    <body class='fade-in'>

        <center>

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" style='height: 350px; width: 400px;'>

                <fieldset>

                    <h3>Welcome to Thrive!</h3>
                    <div>
                        <br />
                        <br />
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Input.RegistrationId"></label>
                        <input asp-for="Input.RegistrationId" class="form-control" />
                        <span asp-validation-for="Input.RegistrationId" class="text-danger"></span>
                    </div>
                    <input value="@Model.Role" asp-for="Input.Role" class="form-control" style="display:none"/>
                    <button type="submit" class="btn btn-primary">REGISTER</button>
                </fieldset>
            </form>
            <div style='padding-left: 15px;'>

                @if (Model.Role == "Teacher")
                {
                    <img style='height: 125px; width: 400px;' src='~/images/wrongSelectedUser-Teacher.png'>
                }

                @if (Model.Role == "Parent")
                {
                    <img style='height: 125px; width: 400px;' src='~/images/wrongSelectedUser-Parent.png'>
                }

                @if (Model.Role == "Student")
                {
                    <img style='height: 125px; width: 400px;' src='~/images/wrongSelectedUser-Student.png'>
                }

            <a asp-controller="Home" asp-action="Index"><img style='height: 220px; width: 225px;' src='~/images/homeCircle.png'></a>

            </div>

        </center>

    </body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
