@model ThriveAPP.Models.Teacher
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

@*<h1>Welcome, @Model.Name</h1>*@
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <meta charset="utf-8">
    <title> Teacher Index</title >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>

<body class="fade-in">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img style="height: 50px; width: 125px;" src="~/images/thriveLogoWhite250x100.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="AboutUs" class="nav-link">About Thrive<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <partial name="_LoginPartial" />
    </nav>
    <div class="text-center">
        <h4 class="text-center" style="margin-top: 15px;">Filter</h4>
        <div>
            <button id="teachersButton" style="" type="button" class="btn btn-outline-primary" onclick="fillTeachers()">Teachers</button>
            <button id="studentsButton" style="" type="button" class="btn btn-outline-primary" onclick="fillStudents()">Students</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div style="" id="imageContainer" class="col-sm-10 text-center"></div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="height:500px; margin-left:0px; margin-right:0px;">
        <div class="col-sm-3" style="visibility:hidden" id="gradeModal">
            <div class='modal-open'>
                <div class='modal-dialog' role='document'>
                    <div class='modal-content'>
                        <div class='modal-header'>
                            <h5 class='modal-title'>PROFILE</h5>
                            <button onclick='closeModal()' type='button' class='close' data-dismiss='modal' aria-label='Close'>
                                <span aria-hidden='true'>&times;</span>
                            </button>
                        </div>
                        <div class='modal-body'>
                            <h5>GRADES</h5>
                            <h3 id="Math"></h3>
                            <h3 id="Science"></h3>
                            <h3 id="History"></h3>
                            <h5>FAVORITE CLASS</h5>
                            <input style='border-radius: 3px;' type='text' placeholder='Favorite Class..' />
                            <br />
                            <br />
                            <h5>STUDENT NOTES</h5>
                            <textarea rows='4' cols='50' name='teacherNotes' form='teacherNotesForStudent' placeholder='Notes about student..'></textarea>
                        </div>
                        <div class='modal-footer'>
                            <button type='button' class='btn btn-primary'>Save changes</button>
                            <button onclick='closeModal()' type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="height:100%">
            <div id="messageBox" style="border-radius:10px; width:90%; height:100%; border:1px solid #000;">
                <div id="messageContainer" style="overflow:auto; height:85%; margin:1%; font-size: 18px;"></div>
                <div id="lowerInput" class="text-center">
                    <input style="margin-left:1%; border-radius: 15px; font-size: 18px; text-decoration-color: #000000; border: 1px solid #000; height: 50px; width: 375px;" type="text" id="messageInputBox" name="messageInputBox" placeholder="Type your message..">
                    <button id="send" style="border-radius: 15px;" class="btn btn-outline-primary">SEND</button>
                    <input id="user" style="display:none" value="@Html.ViewContext.HttpContext.User.Identity.Name" />
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <script>
        function setStudentData(studentId) {
            var math = document.getElementById("Math");
            var science = document.getElementById("Science");
            var history = document.getElementById("History");
            $('#StudentId').val(studentId);
            foreach(grade in @ViewBag.Grades)
                {
                if (Html.Hidden("#StudentId").Equals(grade.Studen
                        tId))
                    {
                        switch(grade.ClassId)
                        {
                            case 1:
                                @:math.innerHTML = "Math: " + @grade.Grade;
                                break;
                            case 2:
                                @:science.innerHTML = "Science: " + @grade.Grade;
                                break;
                            case 3:
                                @:history.innerHTML = "History: " + @grade.Grade;
                                break;
                        }
                    }
                }
        }
    </script>
    @Html.Hidden("StudentId", 0);
    <script src="~/js/genericPage.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        var gallery = document.getElementById("imageContainer");
        function fillTeachers() {
            gallery.innerHTML = "";
            @foreach (var teacher in ViewBag.teachers) {
                @:gallery.innerHTML += "<img class='imageInContainer' src='images/TeacherHeadshots/" + @teacher.TeacherId + ".png'>";
            }
        }
        function fillStudents() {
            gallery.innerHTML = "";
            @foreach (var student in ViewBag.students) {
                @:gallery.innerHTML += "<img onclick='generateModal(@student.StudentId); setStudentData(@student.StudentId)' class='imageInContainer' src='images/StudentHeadshots/" + @student.StudentId + ".png'>";
            }
        }
    </script>

</body>

</html>
